.sessions.new {
	background: url('https://wallpaperscraft.com/image/jump_people_happiness_light_sunset_85137_2560x1440.jpg');
	color: #FFF;

	a {
		font-weight: 600;
	}

  form {
    margin-bottom: 1em;
  }
}